@import "../variables.scss";

.basic-3 {
    padding-top: 9rem;
    padding-bottom: 9rem;
    background-color: $primaryColor;
    text-align: center;
}

.basic-3 h4 {
    margin-bottom: 2.375rem;
    color: #ffffff;
}

.basic-3 .btn-outline-lg {
    border-color: #ffffff;
    color: #ffffff;
}

.basic-3 .btn-outline-lg:hover {
    background-color: #ffffff;
    color: $primaryColor;
}